*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box{
    background-color: #242628;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    transition: 0.5s;
}
.search-box__input{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 0 90px 0 20px;
    color: white;

}
.search-box__btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    font-size: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-box.open{
    width: 400px;
    transition: 0.5s;
}