*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(to right, #ffe000, #799f0c);
}

.container{
    width: 400px;
    background: white;
    margin: 100px auto;
    border-radius: 6px;
}
.form{
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #aaa;
}
.form input{
    border: none;
    outline: none;
    font-size: 24px;
    width: 100%;
    padding: 0 20px;
    color: #444;
}
.form button{
    border: none;
    outline: none;
    background: yellowgreen;
    font-size: 20px;
    color: white;
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.todos{
    list-style: none;
}
.todos li{
    padding: 15px 20px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.todos li span{
    width: 100%;
}
.todos li i{
    color: white;
    
}
.todos li:hover i{
    color: rgba(0, 0, 0, 0.3);
}

.todos li.completed span{
    color: rgba(0, 0, 0, 0.4);
    text-decoration: line-through;
}