*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.full-height{
    height: 100vh;
}
#home{
    background-image: linear-gradient(to right, #4daf54, #3d8880);;
}

#about{
    
}

#team{
    background: linear-gradient(180deg, #017c2c 50%, #fff 50%);
}